@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* body {
    max-width: 1920px;
} */

/* shared styles */

.container {
    width: 75%;
    margin: 0 auto;
}

.button {
    width: 160px;
    height: 48px;
    background: #FF900E;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/* header section */

.header {
    width: 100%;
    background: rgba(255, 144, 14, 0.10);
}

.container .nav-bar {
    display: flex;
    justify-content: space-between;
}

.nav-title {
    color: var(--Dark-01, #131313);
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    margin-top: 40px;
}

.container nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    color: var(--Dark-02, #424242);
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 40px;
}

.container .nav-items {
    display: flex;
    align-items: center;
}

.nav-items li {
    padding: 20px;
}

.headings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.headings .headings-title {
    width: 100%;
    text-align: center;
    color: var(--Dark-01, #131313);
    font-size: 2.3rem;
    font-weight: 700;
    line-height: normal;
    margin-top: 120px;
}

.headings .heading-description {
    width: 100%;
    text-align: center;
    color: var(--Dark-03, #727272);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2rem;
    margin-top: 20px;
    margin-bottom: 30px;
}

.banner {
    margin-top: 50px;
}

.banner img {
    margin-bottom: 50px;
    width: 100%;
}

/* main section */

.main {
    max-width: 75%;
    margin: 0 auto;
}

/* qucick list features section*/

.quick-list-container {
    width: auto;
    display: flex;
    margin: 80px auto;

}

.quick-list-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    /* margin-top: 85px; */
}

.quick-list-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 202px;
    margin-left: 80px;
}

#of-our {
    color: var(--Dark-01, #131313);
    font-size: 2rem;
    font-weight: 700;
    line-height: normal;
}

#features-text {
    color: #FF900E;
    font-size: 2rem;
    font-weight: 700;
    line-height: normal;
}

.quick-list-text-container h2 {
    color: var(--Dark-03, #727272);
    font-size: 2rem;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 24px;
}

.quick-list-text-container p {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 32px;
}

/* features section */

.features-container {
    width: 100%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.features-img {
    position: relative;
}

.features-lists {
    width: 540px;
    display: grid;
    grid-template-rows: repeat(5, 1ft);
    /* margin-bottom: 30px; */
}

.features-list-title h2 {
    color: #131313;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
    margin-top: 50px;
}

.features-list-title p {
    color: var(--Dark-03, #727272);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
}

.features-container .features-lists .features-list-items {
    width: 540px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-top: 20px;
}

.features .features-lists .features-list-items h3 {
    color: var(--Dark-01, #131313);
    font-size: 1rem;
    font-weight: 600;
    margin: 30px 0 10px 33px;
}

.features .features-lists .features-list-items p {
    color: #727272;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.3rem;
    margin: 20px 30px;
}

.features-img img {
    width: 600px;
    height: auto;
}

.experience-banner {
    width: 260px;
    height: 150px;
    border-radius: 8px;
    background: #FF900E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#exp-year {
    color: #FFF;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

#exp-text {
    color: #FFF;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
}

.experience-banner {
    position: absolute;
    top: 755px;
    left: -80px;
}

#experience-banner-inner-text-1 {
    color: #FFF;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

#experience-banner-inner-text-2 {
    color: #FFF;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 10px;
}

/* Some facts section  */

.some-facts-container {
    margin-bottom: 180px;
}

/* .some-fatcs-description {
    width: 480px;
} */

.some-fatcs-description h3 {
    color: #131313;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.some-fatcs-description p {
    color: #727272;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 100px;
}

.some-facts-banner-container {
    display: flex;
    justify-content: space-around;
}

.some-facts-banner {
    width: 180px;
    height: 180px;
    border-radius: 8px;
    border: 1px solid #FF900E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.some-facts-banner img {
    margin-bottom: 20px;
}

.some-facts-banner h3 {
    color: #424242;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.some-facts-banner p {
    color: #727272;
    font-size: 1rem;
    font-weight: 600;
}

/* Sponsors section */

.sponsors-container {
    display: flex;
    flex-direction: column;
}

.sponsors-heading h3 {
    color: #131313;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 24px;
    text-align: center;
}

.sponsors-heading p {
    color: var(--Dark-03, #727272);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1rem;
    text-align: center;
    margin-bottom: 50px;
}

.sponsors-banner {
    display: flex;
    justify-content: space-around;
}

.footer {
    width: 75%;
    height: 100px;
    margin: 100px auto;
    border-radius: 8px;
    background: #FFF4E7;
}

.footer p {
    padding: 39px 410px;
    color: #424242;
    font-size: 1rem;
    font-weight: 400;
}

/* responsive media queries */

/* for small devices or mobile devices*/

@media screen and (max-width:576px) {

    .container,
    .nav-bar,
    .nav-items,
    .quick-list-container,
    .some-facts-container,
    .some-facts-banner-container {
        flex-direction: column;
    }

    .headings .headings-title {
        margin-top: 50px;
        font-size: 1rem;
    }

    .quick-list-img-container {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }

    .quick-list-text-container {
        margin-left: 0;
        margin-top: 100px;
        justify-content: center;
    }

    .some-facts-banner-container {
        align-items: center;
    }

    .some-facts-banner {
        margin: 10px;
    }

    .some-fatcs-description p {
        margin-bottom: 50px;
    }
}

/* for medium devices or tablets */

@media screen and (min-width: 576px) and (max-width: 960px) {

    .container,
    .nav-bar,
    .nav-items,
    .quick-list-container {
        flex-direction: column;
    }

    .headings .headings-title {
        margin-top: 50px;
        font-size: 1rem;
    }

    .quick-list-img-container {
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-evenly;
    }

    .quick-list-text-container {
        margin-top: 100px;
        align-items: center;
    }
}